@layer theme, base, mui, components, utilities;
@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  word-break: keep-all;
}

.hover-effect {
  transition: 0.3s ease;
  cursor: pointer;
}
.hover-effect:hover {
  color: #c1c1c1;
}

.quill-article .ql-editor {
  padding: 0 !important;
}
.ql-editor p {
  font-size: 1.05rem;
  line-height: 1.75;
}
/* 중심 정렬된 단락 내 이미지도 block 요소로 만들어 중앙 정렬되도록 */
.ql-align-center img {
  display: block;
  margin: 0 auto;
}
.ql-editor img {
  padding-top: 5px;
}

.ql-snow.ql-disabled {
  border: none !important;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

.ql-snow iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* ✅ md 이상일 때 (예: Tailwind 기준 md = 768px) */
@media (min-width: 768px) {
  .ql-snow iframe {
    width: 70%;
  }
}
